body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header  {

  background-color: rgb(151, 202, 173);
  padding: 15px 5%;
  box-shadow: 0 1px 3px #d46c6c;
  color: rgb(224, 229, 236);

}


.section-title {
  font-size: 1.8em;
  margin-bottom: 10px;
  text-align: center;
  color: #500d5c;
  text-shadow: #333;

}

.institution {
  font-size: 1.2em;
  margin: 8px 0;
  padding: 8px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #500d5c;
  font-weight: bold;

}

main {
  
  background-color: rgb(221, 198, 198);
  margin: 0%;
  padding: 20px 5%;
}

.name-header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}