
body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e2e8f0;
 
}

header  {

  background-color: rgb(98, 148, 120);
  padding: 15px 5%;
  box-shadow: 0 1px 3px #d46c6c;
  color: rgb(127, 145, 177);

}


.main {
  
  background-color: rgb(220, 220, 220);
  margin: 0%;
  padding: 20px 5%;
}

.name-header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}