body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header  {

  background-color: rgb(151, 202, 173);
  padding: 15px 5%;
  box-shadow: 0 1px 3px #d46c6c;
  color: rgb(224, 229, 236);

}


main {
  
  background-color: rgb(221, 198, 198);
  margin: 0%;
  padding: 20px 5%;
}

.name-header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}